body{
  margin:30px
}
.header{
  background-color: #8fbc8f;
  text-align: center;
  padding: 15px;
  letter-spacing: 3.5px;
}
.countries{
  margin:0;
}
.tour{
  font-weight: bold;
  font-size: large;
  text-decoration:overline;
}
.paris{
  color:green;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-weight:550;
}
.tallin{
  text-decoration: line-through rgb(150, 31, 31);
  text-decoration-thickness:1.5px;
}
.blocks{
  margin: 0;
}
.block{  
  display: inline-block;  
  width:380px;
  height: 150px;
  padding-bottom: 10px;
}
.block_1{
  background-color: #ffff00;
  border: 4px dotted black;
  margin-top: 25px;
  margin-left: 40px;
  display:inline-block;
}
.blockTitle{
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}
.aboutCountry{
  margin-left: 20px;
  line-height: 2;
  font-size: 14px;
}
.firstLine{
  margin-left: 20px;
}
.block_2{
  background-color: #9acd32;
  float: right;
  margin-top: 165px;
  border: 5px dashed black;
}
.block_3{
  background-color: #9370db;
  margin-top: 167px;
  margin-left: 214px;
  border: 5px dashed black;
}
.block_4{
  background-color: #fa8072;
  margin-left: 649px;
  border: 4px dotted black;
}

