body{
  box-sizing: border-box;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 0;
}
.container{
  display: grid;
  width: 100%;
  grid-template-rows: max-content;
  height: 100vh;
}
.header,.nav,main,footer{
  display: grid;
}
.section-title{
  text-transform: uppercase;
  color:#fff;
  text-align: center;
  height: 60px;
}
.header{
  width: 100%;
  background-color: #8fbc8f;
  grid-template-rows: 35px;
  padding-bottom: 15px;
}
.nav{
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.nav-item{
  width: auto;
  display:grid;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-family: sans-serif;
}
.nav-item-title{
  width: fit-content;
  background-color: #f4f4f4;
  border-radius: 100px;
  padding: 10px;
}
.main-container{
  background-color: #4682b4;
  display: grid;
  grid-template-rows: minmax(10px,100px) 40px;
  grid-auto-rows: 20px;
}
.section-title-2{
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.main-title{
  text-align: center;
  align-items: center;
}
.main-items{
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(4,minmax(10px,1fr));
  grid-template-rows: repeat(5,60px);
  padding-left: 2vw;
  padding-right: 2vw;
}
.main-item{
  background-color: #3333b6;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.third{
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}
.sixth{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-end: 3;
}
.nineth{
  grid-column-end: 5;
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}
footer{
  background-color: #87ceeb;
  align-items: center;
  justify-content: center;
}